<footer class="footer" >
    <div class="row">
        <div class="columns large-3">
            <h5><a href="#" >CUSTOMFURNISH</a></h5><br>
            <a href="#">About Us</a><br>
            <a href="#">Terms&Conditions</a><br>
            <a href="#">Privacy Policy</a><br>
            <a href="#">Delivery & Return Policy</a>
        </div>
        <div class="columns large-3">
            <h5><a href="#" >COLLECTION</a></h5><br>
            <a href="#">Sofas</a><br>
            <a href="#">Waedrobes</a><br>
            <a href="#">Kitchens</a><br>
        </div>
        <div class="columns large-3">
            <h5><a href="#" >FOLLOW US</a></h5><br>
            <a href="#">Twitter</a><br>
            <a href="#">Facebook</a><br>
            <a href="#">Pintrest</a><br>
            <a href="#">Google</a><br>
        </div>
        <div class="columns large-3">
            <h5><a href="#" >CONTACT US</a></h5><br>
            <a href="tel:040-660660454" class="header-call"><img src="/static/fi-telephone.svg" style="width:20px;height:20px;">040-660660454</a><br>
            <a href="mailto:wecare@customfurnish.com" class="header-mail"><img src="/static/fi-mail.svg" style="width:20px;height:20px;">wecare@customfurnish.com</a><br>

        </div>
        <hr>
    </div>
    <div class="row" id="visa">
        <div class="coloumns large-1 large-offset-3 left">
            <a href="#"><img src="/static/Visa_Logo.png" style="width:50px;height:40px;"></a>
        </div>
        <div class="coloumns large-1 left">
            <a href="#"><img src="/static/maestro.png" style="width:50px;height:40px;"></a>
        </div>
        <div class="coloumns large-1 left">
            <a href="#"><img src="/static/mastercard.png" style="width:50px;height:40px;"></a>
        </div>
        <div class="coloumns large-1 left">
            <a href="#"><img src="/static/256bit.png" style="width:80px;height:40px;"></a>
        </div>
        <div class="coloumns large-2 left">
            <a href="#" style="text-align :center;"><img src="/static/netbanking.jpg" style="width:100px;height:40px;margin-left:15px;"></a>
        </div>
    </div>
    <div class="row">
        <hr>
        <p style="text-align:center;"> Sign up for our newsletter and you could win exciting offers and shopping vochers!</p><br>
        <div class="columns large-7 large-offset-1 left ">
            <input type="text" placeholder="your email address">
        </div>
        <div class="columns large-4 left">
             <a href="#" style="width: 250px;background-color: orangered;height: 38px;" class="button small">SUBSCRIBE</a>
        </div>

    </div>
</footer>
css:
#visa{
max-width:50%
    }
.footer{
color:black;
background:    #F5F5DC; }
a{
color:black;}