<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CF WEB PAGE</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.0.1/css/foundation.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.0.1/js/vendor/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.0.1/js/foundation.min.js"></script>
    <link rel=stylesheet type=text/css href="/WEBpages/static/style.css">
    <script>
        $(document).ready(function(){$(document).foundation();})
    </script>
</head>

<body>

<div id="body-wrapper">


        <div id="notification"></div>
        <div class="off-canvas-wrap large-12  show-for-medium-up">

                <div class="row logo-section">
                    <div class="columns large-4 medium-4  headerSection" style="padding-left: 20px;padding-top:35px">
                        <img src="http://d32e2cg1dqah35.cloudfront.net/static/images/miscellaneous/custom-furnish.png">
                    </div>



                    <div class="columns large-8 medium-12" style="padding-right:0px; padding-top:25px">


<ul class="horizontal menu" >
  <li><a href="tel:040-660660454" class="header-call"><img src="/static/phone-icon.svg" style="width:20px;height:20px;">040-660660454</a></li>
  <li><a href="#">|</a></li>
  <li><a href="mailto:wecare@customfurnish.com" class="header-mail"><img src="/static/fi-mail.svg" style="width:20px;height:20px;">
                                wecare@customfurnish.com</a></li>


     <li>
                                <a id="login-user-info" data-dropdown="user-content" aria-controls="user-content" data-options="is_hover:true; hover_timeout:5000" aria-expanded="false"
                                   class="dropdown" style="
                                    display:none;

                                        margin:0px 10px 0 10px ">

                                    <p class="header-user"></p>

                                    <p class="font-12 user-name" style="margin-bottom: 0;text-align: center">
                                    </p>

                                </a>
                                <a data-reveal-id="AccountModel" id="loginUser"
                                   style="
                                       display:block;
                                   margin:0px 10px 0 10px ">
                                    <p class="header-user"><img src="/static/fi-torso.svg" style="width:50px;height:50px;"></p>

                                    <p class="font-12" style="margin-bottom: 0;text-align: center">Sign In </p>
                                </a>

                            </li>

                            <li><a href="/cart" style="display: block;margin:0px 10px 0 10px "><img src="/static/cart-icon.svg" style="width:50px;height:50px;">

                                <div class="header-cart" style="position: relative">

                                       </div>

                                <p class="font-12" style="margin-bottom: 0;text-align:center">Cart</p>
                            </a></li>

</ul>
                </div>
                    <div class="top-bar">
  <div class="top-bar">
    <ul class="dropdown menu" data-dropdown-menu>
               <li class="text-menu">LIVING ROOM</li>
              <li class="text-menu">KITCHEN</li>
              <li class="text-menu">BED ROOM</li>
              <li class="text-menu">OFFICE</li>
              <li class="text-menu">FULL HOUSE/li>
              <li class="text-menu">DESIGN DERVICE</li>
              <li class="text-menu">HOW IT WORKS</li>
              <li class="text-menu">OUR PROJECTS</li>
              <li class="text-menu">FAQ</li>
            </ul>
          </div>
    </div>
                    </div>
            </div>
    </div>
</body>
 <hr>
</html>



