#header1{
        background-color:#DDDDDD;
        }
#head1{
       margin-left:900px;

        }
.top-bar{
        background-color:#fefefe;
        }
.top-bar ul{
           background-color:#fefefe;
           }
.menu-text{
          font-weight:normal;
          }

hr{
  max-width:150rem;
  border-bottom:2px solid red;

  }
 .head3{
       text-align:center;
       }
#Box-1{
          border: 2px solid #0c4d78;
    margin-top: 8px;
    margin-left: -100px;
    width: 242px;
    padding: 55px;
    box-shadow: 0px 0px 2px 2px #777;
     }
#Box-2{  border: 2px solid #157539;
    margin-top: 10px;
    margin-left: -21px;
    width: 284px;
    padding: 36px;
    box-shadow: 0px 0px 2px 2px #777;
    }
#Box-3{
           border: 2px solid #ec5840;
    margin-top: 10px;
    margin-left: -21px;
    width: 252px;
    padding: 47px;
    box-shadow: 0px 0px 2px 2px #777;
     }
#Box-4{
          border: 2px solid #0c4d78;
    margin-top: 6px;
    margin-bottom: 0px;
    margin-left: -21px;
    width: 261px;
    box-shadow: 0px 0px 2px 2px #777;
    }
#arrow-1{
        margin-top: 103px;
        }
#arrow-2{
        margin-top: 103px;
        }
#arrow-3{
        margin-top: 103px;
        }
.nav1 {
     width: 100%;
    height: 75px;
    background: #0a0a0a;
    margin: 20px -2px;
    padding-top: 1px;
    padding-left: 343px;
}
#section{
        background-color:grey;
        }
#section1{
            width: 17%;
    margin-left: 223px;
    padding-bottom: 47px;
         }
.head-5{
        font-size: 16px;
    padding-left: 431px
        }

.hr2{
        width: 106rem;
    border-bottom: 1px solid #0a0a0a;
    margin-left: -251px;
     }
.hr1{
     max-width: 150rem;
    border-bottom: 1px solid #0a0a0a;
     }
h-7{
      color: red;
      margin-left: 420px;
    font-size: 18px;
   }
#image-6{
      width: 95.5%;
    height: 270%;
    margin-left: 54px;
        }
#image-7{
          max-width: 101%;
        }
#image-8{
     max-width: 101%;
    margin-left: -27px;
        }
#image-9{
         max-width: 101%;
    margin-top: 2px;
        }
#image-10{
             max-width: 101%;
    margin-left: -27px;
    padding-top: 2px;
        }#testimonial1{
        max-width: 120%;
    margin-left: -48px;
           }













.small-5{
         width: 41.66667%;
    margin-left: 470px;
         }
#image1{
       margin-left: -198px;
    margin-top: 10px;
       max-width=150%;
       }
#image2{
       margin-left:10px;
       margin-top:-15px;
       }
#image-1{
      width: 95.5%;
    height: 270%;
    margin-left: 54px;
        }
#image-2{
          max-width: 101%;
        }
#image-3{
     max-width: 101%;
    margin-left: -27px;
        }
#image-4{
         max-width: 101%;
    margin-top: 2px;
        }
#image-5{
             max-width: 101%;
    margin-left: -27px;
    padding-top: 2px;
        }#testimonial1{
        max-width: 120%;
    margin-left: -48px;
           }
#testimonial2{
           max-width: 120%;
           }
#testimonial3{
               max-width: 120%;
    margin-left: 3rem;
           }
#testimonial4{
                max-width: 120%;
    margin-left: 6rem;
           }
#testimonial2-text{
                  border: 1px solid white;
    background-color: white;
    width: 120%;
    margin-left: 0%;
                  }
#testimonial3-text{
      border: 1px solid white;
    background-color: white;
    width: 120%;
    margin-left: 19.5%;
                  }
#testimonial4-text{
       border: 1px solid white;
    background-color: white;
    width: 120%;
    margin-left: 39%;
}
.head4{
    background-color: #ff0000;
    border: none;
    color: white;
    padding: 8px 22px;
    font-size: 10px;
    }

.head6{
    background-color: #ff0000;
    border: none;
    color: white;
    padding: 12px 22px;
    font-size: 10px;
    }

.textbox1 {
     height:35px;
   width: 200px;
  }

.textbox2 {
    height:35px;
   width: 375px;
  }

.textbox3 {
     height:35px;
   width: 150px;
  }


.text-top .nav1 {
position: absolute;
width:100%;
height:75px;
top:720px;
background:rgba(255,255,255,0.5);
  margin: 20px 0px;
}
nav ul{

}

nav li {
    text-align: center;
display : block;
float:left;
list-style:none;
padding:2px;
margin:3px 10px;
}

.tabs-title{
padding:20px 23px;
background-color: #000000;
}


.pintab{
margin:20px 400px;
position:absolute;
top:1320px;
float:right;
font-size:12px;
}


.div1 {
    width: 400px;
    height: 700px;
    padding: 25px;
    background-color: #ffffff;
    box-shadow: 1px 1px 3px 3px #C0C0C0;
}
.table1 {
    width: 350px;
    height: 150px;
    padding: 20px;
}
.td1{
padding: 10px;
}
.p1
{
font-size:12px;
}
div.vertical-line{
  width: 1px;
  background-color: #C0C0C0;
  height: 100%;
  float: left;

}

#six{
    margin-top: -1px;
    border: 1px solid grey;
    padding: 25px;
    }

.pic{
    position:relative;
    }
.imagetext1{
          position:absolute;
          text-align:center;
          font-size:15px;
          margin-left:65px;
              top: 80px;
          color:white;
          overflow:visible
           }
.imagetext2{
         position: absolute;
    text-align: center;
    font-size: 15px;
    margin-left: 41px;
    top: 74px;
    color: #fefefe;
    overflow: visible;
           }
.imagetext3{
          position: absolute;
    text-align: center;
    font-size: 15px;
    margin-left: 31px;
    top: 69px;
    color: white;
    overflow: visible;
           }
.imagetext4{
         position: absolute;
    text-align: center;
    font-size: 15px;
    margin-left: 41px;
    top: 77px;
    color: white;
    overflow: visible;
           }




h7{
   font-size:18px;
   margin-left:160px;

   }

p{
  font-size:15px;
  margin-left:160px;
  }
#h-5{
    font-size:12px;
    margin-left:750px;
    }
#testimonials{
             background-color:grey;
             }
#TESTIMONIAL{
            padding:50px;
            }

h1{
  font-size:18px;
  margin-left:50px;

  }
p1{
   margin-left:50px;
   font-size:14px;
   color:#111111;
   }
#end{
    background-color:

    }
#visa{
max-width: 57rem;
    margin-left: auto;
    margin-right: auto;
    }
#block{
         max-width: 106rem;
    margin-left: auto;
    margin-right: auto;
      }
.footer{
       color:black;
       background:#F5F5DC; }
a{
color:black;
}